*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}

/* HEADER */
header.container{
    background-color: aqua;
    width: 100%;
    height: 100px;
}

h1{
    font-size: 3.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.container-imagen{
    position: relative;
    margin: 4rem auto 0.5rem;
}